@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #E6E6E6;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar img{
    height: 100px;
    width: 100px;
}

.navbar ul, li{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.navbar a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover{
    color: #FF7F27;
    border-bottom: 2px solid #FF7F27;
    padding: 2px;
}

#burger-menu{
    display: none;
}

/* Main */
main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 3%;
}
main h2{
    font-family: 'Akaya Telivigala', cursive;
    color: #FF7F27;
    font-size: 42px;
}
main h4{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

main p{
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

/* Contact Form */
.contact-form{
    margin-top: 20px;
}

.name-email, .number-persons, .date-time{
    display: flex;
}

.input-name, .input-email, .input-number, #persons, .input-date, .input-time{
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.input-number{
    width: 150px;
}

main button{
    color: white;
    background-color: #FF7F27;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 20px;
    margin-left: 90px;
    border: none;
    border-radius: 5px;
}
main button:hover{
    transition: 1s all ease-out;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid white;
}

.message{
    margin-top: 20px;
    color: green;
    font-weight: bold;
    font-size: 24px;
}