<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/lipsum-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Gallery - Restaurant Lorem 2.0</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img src="../../img/lipsum-photos.png" alt="lipsum-logo1">
            <nav>
                <i id="burger-menu" class="fa fa-bars"></i>
                <ul>
                    <li>
                        <a class="home-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="about-link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="team-link" href="#">Team</a>
                    </li>
                    <li>
                        <a class="gallery-link" href="#">Gallery</a>
                    </li>
                    <li>
                        <a class="blog-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="reservation-link" href="#">Reservation</a>
                    </li>
                    <li>
                        <a class="contact-link" href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="head-elements">
            <h2>Our Gallery</h2>
            <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>

        <div class="food-images">
            <div class="first-part-img">
                <img class="photo-1" src="../../img/gallery/1.jpg" alt="1">
                <img class="photo-2" src="../../img/gallery/2.jpg" alt="2">
            </div>
            <div class="second-part-img">
                <img class="photo-3" src="../../img/gallery/3.jpg" alt="3">
                <img class="photo-4" src="../../img/gallery/4.jpg" alt="4">
                <img class="photo-5" src="../../img/gallery/5.jpg" alt="5">
            </div>
            <div class="third-part-img">
                <img class="photo-6" src="../../img/gallery/6.jpg" alt="6">
                <img class="photo-7" src="../../img/gallery/7.jpg" alt="7">
            </div>
            <div class="fourth-part-img">
                <img class="photo-8" src="../../img/gallery/8.jpg" alt="8">
                <img class="photo-9" src="../../img/gallery/9.jpg" alt="9">
                <img class="photo-10" src="../../img/gallery/10.jpg" alt="10">
            </div>
        </div>
    </main>

</body>

</html>