@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url(../img/banner.jpg);
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar img{
    height: 100px;
    width: 100px;
}

.navbar ul, li{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.navbar a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover{
    color: #FF7F27;
    border-bottom: 2px solid #FF7F27;
    padding: 2px;
}

#burger-menu{
    display: none;
}

/* Main */
main{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    text-transform: uppercase;
    font-size: 35px;
}
main h2{
    font-size: 80px;
    margin-bottom: 10px;
}
main p, h2{
    letter-spacing: 10px;
}
main button{
    color: white;
    background-color: #FF7F27;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
}
main button:hover{
    transition: 1s all ease-out;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
