<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/lipsum-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Menu - Restaurant Lorem 2.0</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img src="../../img/lipsum-contact.png" alt="lipsum-logo1">
            <nav>
                <i id="burger-menu" class="fa fa-bars"></i>
                <ul>
                    <li>
                        <a class="home-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="about-link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="team-link" href="#">Team</a>
                    </li>
                    <li>
                        <a class="gallery-link" href="#">Gallery</a>
                    </li>
                    <li>
                        <a class="blog-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="reservation-link" href="#">Reservation</a>
                    </li>
                    <li>
                        <a class="contact-link" href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>Our Menu</h2>
        <p class="main-paragraph">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
        <div class="tab-menu">
            <div class="slider-nav">
                <ul>
                    <li class="starters">
                        <a id="starters" href="#">Starters</a>
                        <img src="../../img/menu/starters.png" alt="starters">
                    </li>
                    <li class="main-dishes">
                        <a id="main-dishes" href="#">Main Dishes</a>
                        <img src="../../img/menu/main-dishes.png" alt="main-dishes">
                    </li>
                    <li class="deserts">
                        <a id="deserts" href="#">Deserts</a>
                        <img src="../../img/menu/deserts.png" alt="deserts">
                    </li>
                    <li class="drinks">
                        <a id="drinks" href="#">Drinks</a>
                        <img src="../../img/menu/drinks.png" alt="drinks">
                    </li>
                </ul>
            </div>

            <div class="slider-starters">
                <div class="first-row">
                    <div class="first-dish">
                        <img src="../../img/menu/garlic-bread.jpg" alt="garlic-bread">
                        <div>
                            <h3>Garlic Bread</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$8.5</span>
                    </div>
                    <div class="second-dish">
                        <img src="../../img/menu/mixed-salad.jpg" alt="mixed-salad">
                        <div>
                            <h3>Mixed Salad</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$25</span>
                    </div>
                </div>

                <div class="second-row">
                    <div class="third-dish">
                        <img src="../../img/menu/chicken-wings.jpg" alt="chicken-wings">
                        <div>
                            <h3>BBQ Chicken Wings</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$10</span>
                    </div>
                    <div class="fourth-dish">
                        <img src="../../img/menu/tika-masala.jpg" alt="tika-masala">
                        <div>
                            <h3>Chicken Tika Masala</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$15</span>
                    </div>
                </div>
            </div>

            <div class="slider-main">
                <div class="first-row">
                    <div class="first-dish">
                        <img src="../../img/menu/meat-pizza.jpg" alt="meat-pizza">
                        <div>
                            <h3>Meat Fest Pizza</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$5</span>
                    </div>
                    <div class="second-dish">
                        <img src="../../img/menu/spicy-meatballs.jpg" alt="spicy-meatballs">
                        <div>
                            <h3>Spicy Meatballs</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$6.5</span>
                    </div>
                </div>

                <div class="second-row">
                    <div class="third-dish">
                        <img src="../../img/menu/schnitzel.jpg" alt="schnitzel">
                        <div>
                            <h3>German Schnitzel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$14</span>
                    </div>
                    <div class="fourth-dish">
                        <img src="../../img/menu/bologhnese.jpg" alt="bologhnese">
                        <div>
                            <h3>Spaghetti Bolognese</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$12</span>
                    </div>
                </div>
            </div>

            <div class="slider-deserts">
                <div class="first-row">
                    <div class="first-dish">
                        <img src="../../img/menu/fudgecake.jpg" alt="fudgecake">
                        <div>
                            <h3>Chocolate Fudgecake</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$4.5</span>
                    </div>
                    <div class="second-dish">
                        <img src="../../img/menu/caramel.jpg" alt="caramel">
                        <div>
                            <h3>Creme Caramel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$6</span>
                    </div>
                </div>

                <div class="second-row">
                    <div class="third-dish">
                        <img src="../../img/menu/creme-brulle.jpg" alt="creme-brulle">
                        <div>
                            <h3>Creme Brulle</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$5</span>
                    </div>
                    <div class="fourth-dish">
                        <img src="../../img/menu/chocolate-souffle.jpg" alt="chocolate-souffle">
                        <div>
                            <h3>Chocolate Souffle</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$7</span>
                    </div>
                </div>
            </div>

            <div class="slider-drinks">
                <div class="first-row">
                    <div class="first-dish">
                        <img src="../../img/menu/wine.jpg" alt="wine">
                        <div>
                            <h3>White Wine</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$12</span>
                    </div>
                    <div class="second-dish">
                        <img src="../../img/menu/beer.jpg" alt="beer">
                        <div>
                            <h3>Beer</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$5</span>
                    </div>
                </div>

                <div class="second-row">
                    <div class="third-dish">
                        <img src="../../img/menu/coffee.jpg" alt="coffee">
                        <div>
                            <h3>Coffee</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$3</span>
                    </div>
                    <div class="fourth-dish">
                        <img src="../../img/menu/coca-cola.jpg" alt="coca-cola">
                        <div>
                            <h3>Coca Cola</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                            </p>
                        </div>
                        <span>$4</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>