@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #E6E6E6;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar img{
    height: 100px;
    width: 100px;
}

.navbar ul, li{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.navbar a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover{
    color: #FF7F27;
    border-bottom: 2px solid #FF7F27;
    padding: 2px;
}

#burger-menu{
    display: none;
}

/* Main */
main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
main h2{
    font-family: 'Akaya Telivigala', cursive;
    color: #FF7F27;
    font-size: 42px;
    margin-top: 3%;
}
.main-paragraph{
    color: #666;
    font-size: 18px;
    letter-spacing: 0.16px;
    text-align: center;
    width: 900px;
}

.tab-menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.slider-nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.slider-nav li{
    margin-right: 70px;
}
.slider-nav a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-top: 30px;
    margin-right: 10px;
}
.slider-nav a:hover{
    color: #FF7F27;
    border-bottom: 2px solid #FF7F27;
    padding: 2px;
}

.starters, .main-dishes, .deserts, .drinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-main, .slider-deserts, .slider-drinks{
    display: none;
    flex-flow: column wrap;
    align-items: center;
}

.slider-starters{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.slider-starters img, .slider-main img, .slider-deserts img, .slider-drinks img{
    width: 20%;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    margin-right: 15px;
}
.slider-starters h3 , .slider-main h3 , .slider-deserts h3, .slider-drinks h3{
    color: #FF7F27;
    font-style: italic;
}
.slider-starters p , .slider-main p, .slider-deserts p, .slider-drinks p{
    color: #6b6b6b;
    width: 350px;
}
.slider-starters span , .slider-main span, .slider-deserts span, .slider-drinks span{
    border: 3px solid #FF7F27;
    border-radius: 15px;
    width: 92px;
    line-height: 100px;
    font-size: 26px;
    text-align: center;
    letter-spacing: .5px;
}

.first-row, .second-row{
    display: flex;
    align-items: center;
}

.first-row{
    margin-top: 5%;
}

.first-dish, .second-dish, .third-dish, .fourth-dish{
    display: flex;
    flex-direction: row wrap;
}

.first-dish, .third-dish{
    margin-right: 50px;
}
.first-dish, .second-dish{
    margin-bottom: 50px;
}



