<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/lipsum-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact Us - Restaurant Lorem 2.0</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img src="../../img/lipsum-contact.png" alt="lipsum-logo1">
            <nav>
                <i id="burger-menu" class="fa fa-bars"></i>
                <ul>
                    <li>
                        <a class="home-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="about-link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="team-link" href="#">Team</a>
                    </li>
                    <li>
                        <a class="gallery-link" href="#">Gallery</a>
                    </li>
                    <li>
                        <a class="blog-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="reservation-link" href="#">Reservation</a>
                    </li>
                    <li>
                        <a class="contact-link" href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="elements">
            <h2>Newsletter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="email-bar">
                <input class="input-email" type="email" required placeholder="Enter Your E-Mail ID">
                <a href="#" class="orange-btn"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <span class="message"></span>
        </div>
    </main>

    <footer>
        <img src="../../img/lipsum-teams.png" alt="lipsum-teams">

        <nav class="navbar-elements">
            <div class="about">
                <h3 class="orange">About Us</h3>
                <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient
                    montes.</p>
            </div>

            <ul class="new-menu">
                <h3 class="orange">New Menu</h3>
                <li><a href="#">Pizza Peperoni</a></li>
                <li><a href="#">Chicken Burger</a></li>
                <li><a href="#">Spaghetti Bolognese</a></li>
                <li><a href="#">Club Sandwich </a></li>
            </ul>

            <ul class="contact">
                <h3 class="orange">Contact Us</h3>
                <li><i class="fa fa-location-arrow"></i> 685 Eva Pearl Street Baton Rouge LA</li>
                <li><i class="fa fa-mobile"></i>+359 87 6778588</li>
                <li> <i class="fa fa-envelope-square"></i> <a href="#">ivansolenkov99@gmail.com</a></li>
            </ul>

            <div class="hours">
                <h3 class="orange">Opening Hours</h3>
                <h4>Monday-Thursday</h4>
                <span>11:00 AM - 9:00 PM</span>
                <h4>Friday-Saturday</h4>
                <span>11:00 AM - 5:00 PM</span>
            </div>
        </nav>
    </footer>
</body>

</html>