@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar img{
    height: 100px;
    width: 100px;
}

.navbar ul, li{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.navbar a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover{
    color: #FF7F27;
    border-bottom: 2px solid #FF7F27;
    padding: 2px;
}

#burger-menu{
    display: none;
}

/* Main */
main{
    background-image: url(../../img/contact/newsletter-bg.png);
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.elements{
    margin-top: 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.elements h2{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 60px;
}
.elements p{
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}
.email-bar input{
    width: 100%;
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    margin-top: 42px;
}
.email-bar a{
    position: relative;
    bottom: 33px;
    left: 265px;
    background: #FF7F27;
    border: 2px dotted #ccc;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 4px;
    color: #ffffff;
}

.message{
    margin-top: 20px;
    color: green;
    font-weight: bold;
    font-size: 24px;
}

/* Footer */
footer{
    background-image: url(../../img/contact/footer_background.jpg);
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
    font-size: 14px;
}
.navbar-elements{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 5%;
}

footer img{
    height: 200px;
    width: 240px;
}
.orange{
    font-family: 'Akaya Telivigala', cursive;
    color: #FF7F27;
    font-size: 30px;
}
.about{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.about h3{
    margin-bottom: 50px;
}
.about p{
    width: 300px;
}

.new-menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.new-menu li{
    padding: 5px;
}

.new-menu a{
    color: white;
    text-decoration: none;
}

.contact, .hours{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contact li{
    padding: 5px;
}
.contact h3{
    margin-bottom: 20px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact i{
    font-size: 20px;
}
.contact .fa{
    color: #FF7F27;
}

.hours h3{
    margin-bottom: 10px;
}
.hours h4{
    margin-top: 10px;
}
.hours span{
    color: #666;
}



