<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/lipsum-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us - Restaurant Lorem 2.0</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img src="../../img/lipsum-black.png" alt="lipsum-logo1">
            <nav>
                <i id="burger-menu" class="fa fa-bars"></i>
                <ul>
                    <li>
                        <a class="home-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="about-link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="team-link" href="#">Team</a>
                    </li>
                    <li>
                        <a class="gallery-link" href="#">Gallery</a>
                    </li>
                    <li>
                        <a class="blog-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="reservation-link" href="#">Reservation</a>
                    </li>
                    <li>
                        <a class="contact-link" href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="about-us">
            <div class="about-elements">
                <div class="about-history">
                    <h2>About Us</h2>
                    <p>Tom Sellers tells his story and the story of British food through an ever-evolving tasting menu
                        of
                        seasonal
                        dishes. The restaurant gained its Michelin star after five months of opening in 2013 and has
                        retained it
                        ever since.</p>
                </div>

                <div class="paragraphs">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco.
                    </p>
                    <p>
                        Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient
                        montes,
                        nascetur ridiculus mus. quam felisorat, ultricies nec, Aenean commodo ligula eget dolor penatibu
                        set
                        magnis is parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, pellentesque
                        eu,
                        pretium quis, sem. quat massa quis enim. Donec vitae sapien ut libero venenatis fauci Nullam
                        quis
                        ante.
                        Etiam sit amet rci eget eros.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco.
                    </p>
                </div>
            </div>

            <div class="images">
                <img class="about-main" src="../../img/about/about-main.jpg" alt="about-main">
                <img class="about-inset" src="../../img/about/about-inset.jpg" alt="about-inset">
            </div>
        </div>

        <div class="todays-special">
            <h2>Today's Special</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim venia,nostrud exercitation ullamco.
            </p>
            <div class="special-images">
                <img src="../../img/about/spaghetti.jpg" alt="spaghetti">
                <img src="../../img/about/burger.jpg" alt="burger">
                <img src="../../img/about/pizza.jpg" alt="pizza">
            </div>
        </div>
    </main>
</body>

</html>